.dashboard {
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.dashboard-layout {
    display: flex;
    justify-content: space-between;
}

.charts-container {
    width: 75%;
    /* Asegurarse de que ocupe todo el ancho disponible */
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
}

.chart-container-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chart {
    width: 45%;
    min-width: 300px;
    padding: 1rem;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
    transition: transform 0.2s, box-shadow 0.2s;
}

.chart:hover {
    transform: scale(1.009);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chart h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: mediumblue;
    padding: 0rem 0 2rem 0;
}

.analysis-container {
    width: 25%;
    padding: 1rem;
    border-left: 2px solid #ddd;
}

.chart-component {
    max-width: 100%;
    /* Asegura que el gráfico no se desborde */
    width: 100%;
}

/* Estilos para las tarjetas de indicadores */

.indicators-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.indicator-card {
    width: calc((100% / 4) - 3rem);
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.indicator-icon {
    font-size: 24px;
    margin-right: 10px;
}

.indicator-card h3 {
    margin: 10px 0;
    font-size: 18px;
}

.indicator-value {
    font-size: 16px;
}

.indicator-info {
    width: 100%;
}

.chart-selected {
    border: 2px solid #4caf50;
    background-color: rgb(76 175 80 / 4%);
    transform: scale(1.002);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.filter-button {
    display: inline-block;
    padding: .5rem 1rem;
    font-size: 1.1rem;
    color: white;
    background: #74A057;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.filter-button:hover {
    background: #568E44;
}

.filters-container {
    display: flex;
    justify-content: space-around;
    padding: .5rem;
    align-items: center;
    background: #fafafa;
    margin-bottom: 1rem;
}

.filters-container .form-group {
    margin-bottom: 0;
}

.filters-container .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.filters-container .form-group select,
.filters-container .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.filters-container .form-group select:focus {
    border-color: #007bff;
    outline: none;
}

/* Estilos básicos para los campos de fecha */
.date-filters .filters-container .form-group {
    margin-bottom: 15px;
}

.date-filters .filters-container .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.date-filters .filters-container .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.date-filters .filters-container .form-group input:focus {
    border-color: #007bff;
    outline: none;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

.modal-title {
    margin: 0;
    padding-bottom: 1rem;
    border-bottom: 2px solid #efefef;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.filter-icon {
    font-size: 1.5rem;
    /* Tamaño del ícono */
    color: #4caf50;
    /* Color del ícono */
    cursor: pointer;
    margin-left: 10px;
    /* Espaciado con el h2 */
    transition: transform 0.2s;
}

.filter-icon:hover {
    transform: scale(1.1);
    /* Efecto al pasar el cursor */
}


.dashboard h2 .fa-icon {
    margin-left: 15px;
    cursor: pointer;
    color: #007bff;
}

/* Estilos para el modal */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}


.modal-header>h4 {
    margin: 1rem 0;
    font-size: 1.2em;
    text-align: center;
    width: 100%;
    height: 1.5rem;
}

/* Formulario */
.form-group {
    margin-bottom: 15px;
}

.modal-content label.label-with-icon {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label {
    font-size: 1em;
    font-weight: 600;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
}

input[type="text"]:focus,
input[type="date"]:focus,
select:focus,
textarea:focus {
    border-color: #4CAF50;
    /* Resalta en verde al enfocar */
}

textarea {
    height: 100px;
    resize: vertical;
}

.modal-content .schedule-options {
    display: flex;
    margin: 0;
    padding: 1rem 3rem;
    gap: 2rem;
}

.schedule-option input {
    margin-right: 10px;
}

.schedule-option {
    font-size: 1em;
    display: flex;
    align-items: center;
}

#dashboard button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px;
}

.btn-submit {
    background-color: #4CAF50;
    color: white;
    width: calc(40% - .5rem);
}

.btn-submit:hover {
    background-color: #388e3c;
}

.btn-cancel {
    background-color: #f44336;
    color: white;
    width: calc(40% - .5rem);
}

.btn-cancel:hover {
    background-color: #d32f2f;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


/* Botón de cerrar */
.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.schedule-option {
    display: block;
    margin-bottom: 10px;
}

.schedule-option input {
    margin-right: 10px;
}

/* Recurrencia tipo "Pills" */
.pill-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.pill {
    padding: 5px 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    background-color: #f1f1f1;
    transition: background-color 0.3s;
    opacity: .8;
}

.pill.selected {
    background-color: dodgerblue;
    color: white;
    opacity: .9;
}

.pill:hover {
    opacity: 1;
    box-shadow: 0 0 2px 0px grey;
}

.modal-content .form-group {
    margin: 0;
    padding: 1rem 3rem;
}

.modal-content>.form-group:first-child {
    text-align: left;
}

.form-recurrencia {
    padding-top: 1rem;
    border-top: 2px solid #e7e5e5;
}

.text-left {
    text-align: left;
}

.bot-icon-modal {
    height: 30px;
}

textarea,
input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

.modal-actions .btn-submit {
    padding: 10px 20px;
    margin: 0;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn-submit {
    background-color: #4CAF50;
    color: white;
}

.btn-cancel {
    background-color: #E91E63;
    color: white;
}

/* Botones del modal */
.modal-actions {
    margin: 0;
    padding: 1rem 3rem;
    border-top: 2px solid #e7e5e5;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    border-bottom: 2px solid #efefef;
    padding: 0 3rem;
    position: relative;
}

.close-icon {
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    color: indianred;
    position: absolute;
    top: 1rem;
    right: 2rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
}

.close-icon:hover {
    color: #ff0000;
    /* Color rojo al pasar el mouse */
}


.title-dashboard {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-dashboard>h2 {
    height: 2rem;
    width: 100%;
    margin: 1rem 0 !important;
}

.title-dashboard>div {
    position: absolute;
    top: 0;
    right: 0;
    height: 2rem;
    display: flex;
    gap: .5rem;
    padding: 1rem 0;
}

.title-dashboard>div>svg {
    height: 2rem;
    cursor: pointer;
}

/* Estilo del label */
.form-group label {
    font-size: 1rem;
    /* Tamaño del texto del label */
    font-weight: bold;
    /* Texto en negrita */
    color: #333;
    /* Color gris oscuro */
    margin-bottom: 0.5rem;
    /* Espaciado debajo del label */
}

/* Estilo del input de fecha y hora */
.form-group input[type="datetime-local"] {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    color: #333;
    width: calc(100% - 22px);
    transition: border-color 0.3s ease;
}

/* Estilo del input al enfocarse */
.form-group input[type="datetime-local"]:focus {
    outline: none;
    border-color: #4CAF50;
}

/* Estilos para el input con error (si es necesario) */
.form-group input[type="datetime-local"].error {
    border-color: #dc3545;
    /* Borde rojo en caso de error */
    box-shadow: 0 0 0 2px rgba(220, 53, 69, 0.25);
    /* Sombra roja */
}

/* Estilo para el contenedor de error (opcional) */
.form-group .error-message {
    color: #dc3545;
    /* Color rojo para el mensaje de error */
    font-size: 0.875rem;
    /* Tamaño pequeño del texto */
    margin-top: 0.25rem;
    /* Espaciado superior */
}

/* Estilo para el botón PDF */
.export-pdf {
    color: #d32f2f;
    /* Rojo, típico para PDF */
}

.export-pdf:hover {
    color: #c62828;
    /* Un tono más oscuro de rojo al hacer hover */
}

/* Estilo para el botón Word */
.export-word {
    color: #1976d2;
    /* Azul, típico para Word */
}

.export-word:hover {
    color: #1565c0;
    /* Un tono más oscuro de azul al hacer hover */
}

/* Estilo para el botón Excel */
.export-excel {
    color: #388e3c;
    /* Verde, típico para Excel */
}

.export-excel:hover {
    color: #2c6f2f;
    /* Un tono más oscuro de verde al hacer hover */
}

/* Estilo para el botón Correo */
.send-email {
    color: #0288d1;
    /* Azul, típico para correo electrónico */
}

.send-email:hover {
    color: #0277bd;
    /* Un tono más oscuro de azul al hacer hover */
}

@media (max-width: 1240px) {
    .dashboard {
        position: relative;
    }

    .dashboard .filter-icon {
        position: absolute;
        top: calc(21px + 0.83em);
        right: 20px;
    }

    .filters-container {
        flex-direction: column;
        background: none;
    }

    .filters-container .form-group {
        margin-bottom: 0;
        padding: 1rem 0;
        width: 100%;
    }

    .filters-container .form-group input {
        width: calc(100% - 20px);
    }
}

/* Medios para pantallas pequeñas */
@media (max-width: 1600px) {
    .dashboard-layout {
        flex-direction: row;
    }

    .charts-container {
        width: 65%;
    }

    .analysis-container {
        width: 35%;
    }

    .chart {
        width: 100%;
        /* Cada gráfico ocupa el 100% del ancho */
        min-width: 0;
        /* Permitir que los gráficos se ajusten más cuando sea necesario */
    }
}

/* Medios para pantallas pequeñas */
@media (max-width: 1000px) {
    .dashboard-layout {
        flex-direction: column;
        /* Colocar los contenedores uno debajo del otro en pantallas pequeñas */
        align-items: center;
    }

    .charts-container {
        width: 100%;
    }

    .chart {
        width: 100%;
        /* Cada gráfico ocupa el 100% del ancho */
        min-width: 0;
        /* Permitir que los gráficos se ajusten más cuando sea necesario */
    }

    .analysis-container {
        width: 100%;
        border-left: none;
    }

    .indicator-card {
        width: calc((100% / 2) - 3rem);
        margin-bottom: 20px;
    }

}



/* Medios para pantallas pequeñas */
@media (max-width: 500px) {

    .indicators-container {
        flex-direction: column;
        align-items: center;
    }

    .indicator-card {
        width: calc(100% - 2.5rem);
        margin-bottom: 20px;
    }

    .chart-bot {
        display: flex;
        border-radius: 1rem;
        padding: 0;
        align-items: center;
        position: relative;
    }

    .bot-image {
        height: 50px;
        border: 2px solid #4CAF50;
        border-radius: 50%;
        background: lightgoldenrodyellow;
        position: absolute;
        top: 0px;
        left: calc(50% - 27px);
    }

    .question-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 0;
        padding-top: 2.5rem;
    }
}