.dashboard {
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.dashboard-layout {
    display: flex;
    justify-content: space-between;
}

.charts-container {
    width: 75%;
    /* Asegurarse de que ocupe todo el ancho disponible */
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
}

.chart {
    width: 45%;
    min-width: 300px;
    padding: 1rem;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
    transition: transform 0.2s, box-shadow 0.2s;
}

.chart:hover {
    transform: scale(1.009);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chart h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.analysis-container {
    width: 25%;
    padding: 1rem;
    border-left: 2px solid #ddd;
}

.chart-component {
    max-width: 100%;
    /* Asegura que el gráfico no se desborde */
    width: 100%;
}

/* Estilos para las tarjetas de indicadores */

.indicators-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.indicator-card {
    width: calc((100% / 4) - 3rem);
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.indicator-icon {
    font-size: 24px;
    margin-right: 10px;
}

.indicator-card h3 {
    margin: 10px 0;
    font-size: 18px;
}

.indicator-value {
    font-size: 16px;
}

.indicator-info {
    width: 100%;
}

.chart-selected {
    border: 2px solid #4caf50;
    background-color: rgb(76 175 80 / 4%);
    transform: scale(1.002);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.filter-button {
    display: inline-block;
    padding: .5rem 1rem;
    font-size: 1.1rem;
    color: white;
    background: #74A057;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.filter-button:hover {
    background: #568E44;
}

.filters-container {
    display: flex;
    justify-content: space-around;
    padding: .5rem;
    align-items: center;
    background: #fafafa;
    margin-bottom: 1rem;
}

.filters-container .form-group {
    margin-bottom: 0;
}

.filters-container .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.filters-container .form-group select,
.filters-container .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.filters-container .form-group select:focus {
    border-color: #007bff;
    outline: none;
}

/* Estilos básicos para los campos de fecha */
.date-filters .filters-container .form-group {
    margin-bottom: 15px;
}

.date-filters .filters-container .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.date-filters .filters-container .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.date-filters .filters-container .form-group input:focus {
    border-color: #007bff;
    outline: none;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

.modal-title {
    margin: 0;
    padding-bottom: 1rem;
    border-bottom: 2px solid #efefef;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.filter-icon {
    font-size: 1.5rem;
    /* Tamaño del ícono */
    color: #4caf50;
    /* Color del ícono */
    cursor: pointer;
    margin-left: 10px;
    /* Espaciado con el h2 */
    transition: transform 0.2s;
}

.filter-icon:hover {
    transform: scale(1.1);
    /* Efecto al pasar el cursor */
}

@media (max-width: 1240px) {
    .dashboard {
        position: relative;
    }

    .dashboard .filter-icon {
        position: absolute;
        top: calc(21px + 0.83em);
        right: 20px;
    }

    .filters-container {
        flex-direction: column;
        background: none;
    }

    .filters-container .form-group {
        margin-bottom: 0;
        padding: 1rem 0;
        width: 100%;
    }

    .filters-container .form-group input {
        width: calc(100% - 20px);
    }
}

/* Medios para pantallas pequeñas */
@media (max-width: 1600px) {
    .dashboard-layout {
        flex-direction: row;
    }

    .charts-container {
        width: 65%;
    }

    .analysis-container {
        width: 35%;
    }

    .chart {
        width: 100%;
        /* Cada gráfico ocupa el 100% del ancho */
        min-width: 0;
        /* Permitir que los gráficos se ajusten más cuando sea necesario */
    }
}

/* Medios para pantallas pequeñas */
@media (max-width: 1000px) {
    .dashboard-layout {
        flex-direction: column;
        /* Colocar los contenedores uno debajo del otro en pantallas pequeñas */
        align-items: center;
    }

    .charts-container {
        width: 100%;
    }

    .chart {
        width: 100%;
        /* Cada gráfico ocupa el 100% del ancho */
        min-width: 0;
        /* Permitir que los gráficos se ajusten más cuando sea necesario */
    }

    .analysis-container {
        width: 100%;
        border-left: none;
    }

    .indicator-card {
        width: calc((100% / 2) - 3rem);
        margin-bottom: 20px;
    }

}



/* Medios para pantallas pequeñas */
@media (max-width: 500px) {

    .indicators-container {
        flex-direction: column;
        align-items: center;
    }

    .indicator-card {
        width: calc(100% - 2.5rem);
        margin-bottom: 20px;
    }

    .chart-bot {
        display: flex;
        border-radius: 1rem;
        padding: 0;
        align-items: center;
        position: relative;
    }

    .bot-image {
        height: 50px;
        border: 2px solid #4CAF50;
        border-radius: 50%;
        background: lightgoldenrodyellow;
        position: absolute;
        top: 0px;
        left: calc(50% - 27px);
    }

    .question-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 0;
        padding-top: 2.5rem;
    }
}